.title{
	margin-bottom: 20px;
}
.name{
	margin-bottom: 20px;
}
.input{
	margin-bottom: 20px;
}

.form-group {
	margin-top: 30px;
}

.container__button{
	margin-bottom: 100px;
	margin-top: 90px;
}

.form-group{
	width: 400px;
	height: 40px;
	margin-bottom: 30px;
}
.form-group__input{
	width: 400px;
	height: 40px;
	margin-bottom: 30px;	
}
.container__option{
	width: 400px;
	height: 40px;
	margin-bottom: 30px;	
}
.container__checker{
	margin-top: 190px;
}
